@mixin cardbuttom($color){
    background-color: $color;
    @if $color == rgb(92, 9, 187){
        color: #fff;
        padding: 5px 15px;
    } @else{
        color: #fff;
        padding: 5px 10px;
    }
}