//>>>>>>>>Archivos importados<<<<<<<<<//
@import "../utilities/variables";

//>>>>>>>>Archivos importados<<<<<<<<<//

//>>>>>>>ESTILOS NOSOTROS.HTML<<<<<<<<<<<//
/*>>>>>>>ESTILOS NOSOTROS.HTML<<<<<<<<<<<*/
.titleNosotros{
    @include flex-evenly;
    align-items: center;
    padding-top: 10px;
    img{
        width: $ancho-imagen;
        animation-name: movimiento;
        animation-iteration-count: initial;
        animation-duration: 3s;
    }
    .texto{
        width: 70%;
        h1{
            font-size: 1.2rem;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 30px;
            padding-bottom: 10px;
            @extend %borde;
        }
        p{
            font-size: 1rem;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 1.6;
            margin-top: 20px;
        }
    }
}
.equipo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 350px;
    h2{
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: 50px;
        color: $color-principal;
        text-decoration: overline;
    }
    p{
        font-size: 0.9rem;
        padding: 20px;
        max-width: 50rem;
    }
    .negrita2{
        font-weight: bold;
        color: #353435;
    }
}
.cardSection{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    @include flex-center;
    column-gap: 20px;
    padding: 30px;
    .cardPerfil{
        width: 260px;
        padding: 20px;
        border: 2px solid #161616;
        box-shadow: 2px 2px 5px;
        margin-top: 20px;
        transition: all .3s;
        &:hover{
            border: 2px solid $color-principal;
            box-shadow: 2px 2px 5px $color-principal;
        }
        .cardNombre{
            text-align: center;
            line-height: 30px;
            img{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                box-shadow: 2px 2px 5px #161616;
                transform: rotate(-30deg);
                transition: all .3s;
                &:hover{
                    transform: rotate(0deg);
                }
            }
        }
        hr{
            width: 80%;
            height: 4px;
            background-color: #181b21;
            margin: 10px;
            margin-left: 20px;
        }
        .cardTexto{
            text-align: center;
        }
        .cardEnlace{
            text-align: center;
            margin-top: 20px;
            a{
                @include cardbuttom(rgb(92, 9, 187))
            }
        }
    }
}